.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  background-color: #c82333;
  h1 {
    margin-bottom: 1.25rem;
  }
  hr{
    width: 50%;
    box-shadow: 10px;
  }

  .form-group {
    margin-bottom: 2rem;
    width: 60%;

    &.custom-form {
      label {
        font-size: 2rem;
        
        // margin-bottom: 2rem;
      }

      .input-and-btn {
        display: flex;
        justify-content: center;

        input {
          width: 50%;
          font-size: 1.5rem;
          padding: 1rem;
        }

        button {
          min-width: 6rem;
          padding: 1rem;
          border-radius: 8px;
          background-color: #c82333;
          color: #fff;
        }
      }
    }
  }

  .todo-box {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;

    .content {
      // flex: 1;
      display: flex;
      align-items: center;

      input[type="checkbox"] {
        margin-right: 1rem;
        
      }

      p {
        margin: 0;
        flex: 1;
        text-decoration: none;

        &.completed {
          text-decoration: line-through;
        }
      }
    }
  }

  .delete-all {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #c82333;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    .form-group {
      width: 100%;
    }
  }
}

@media screen and (max-width: 576px) {
  .wrapper {
    .form-group {
      width: 100%;
    }
  }
}
